@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "scripty";
    src: url("./fonts/AnethaFaithSignaturecopy.otf") format("otf");
}

/* @layer base {
    @font-face {
      font-family: 'scripty';
      font-style: normal;
      font-weight: 400;
      /* font-display: swap; */
      /* src: url(./fonts/AnethaFaithSignaturecopy.otf) format('otf');
    }
  } */ 


