@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #EEE6DC;
}


@font-face {
    font-family: "anetha";
    /* font-weight: 400; */
    src: url("./fonts/AnethaFaithSignatureReg.ttf");
  }

@font-face {
    font-family: "scripty";
    src: url("./fonts/AnethaFaithSignaturecopy.otf") format("otf");
}





